# Dependencies
node_modules
.pnpm-store

# Production build outputs
dist
dist-ssr

# System and IDEs
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.eslintcache

# Local environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# TypeScript build info
*.tsbuildinfo
